[submodule "inputs/abide1"]
	path = inputs/abide1
	url = https://datasets.datalad.org/abide/RawDataBIDS/.git
	datalad-id = 31472594-db5e-11e7-96bc-002590f97d84
[submodule "inputs/abide2"]
	path = inputs/abide2
	url = https://datasets.datalad.org/abide2/RawData/.git
	datalad-id = b1119aa8-db5d-11e7-bd5c-002590f97d84
[submodule "derivatives/fmriprep-25.2"]
	path = derivatives/fmriprep-25.2
	url = https://github.com/oesteban/abide-fmriprep-derivatives.git
	datalad-id = 7fcfb3bb-6b2e-4720-9641-7fc51dc6ed54
[submodule "inputs/templateflow"]
	path = inputs/templateflow
	url = https://github.com/templateflow/templateflow.git
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "inputs/abide-both"]
	path = inputs/abide-both
	url = https://github.com/oesteban/abide-merged.git
	datalad-id = d7665782-e1d4-4bc1-a027-f3a36ac51333
